.header {
   text-align: center;
   padding-top: 10px;
}
.header h2 {
	display: inline;
}
.header p{
    font-style: italic;
}
.header a{
    padding-left: 640px;
}
.content {
	position: absolute;
	top: 426px;
	}
.post div{
	display: inline-block;
    vertical-align:top;
	padding: 0 20px;
	width:425px;
	}
.post div a {
	color: rgb(158, 0, 58);
	}
.post div a:first-child {
	font-weight: bold;
	}
.pagination {
    margin-top: 60px;
    text-align: center;
}
.step-links{
    color: green;
}
body {
	background: white url("images/backtoblack.png") no-repeat;
	font-family: "Courier New", Courier, monospace;
	}